body {
    overflow:scroll ;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding: 15px;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 100px;
    /*   border-radius: 6px; */
    /*   justify-content: center; */
    /*   -webkit-box-shadow: 4px 2px 16px 0 rgba(50, 50, 50, 0.62);
    -moz-box-shadow: 4px 2px 16px 0 rgba(50, 50, 50, 0.62);
    box-shadow: 1px 2px 6px 0 rgba(50, 50, 50, 0.62); */
    object-fit: contain;
  }

  .mainHeader {
    font-size: 3rem;
    color: brown;
    display: flex;
    justify-items: end;
    padding: 20px 20px;
    border-bottom: brown solid 2px;
  }

  .aboutUsCard {
/*     border-bottom: brown solid 2px; */
    padding-bottom: 20px;
    display: flex;
  }
  .imageContainer {
    flex:content;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    object-fit: contain;
    padding: 20px;

  }
  .dataContainer {
    flex: 3;
    object-fit: contain;
    text-align: left;
    padding: 20px;
    flex-direction: row;
    align-self:flex-start;
  }
