body {
    overflow:scroll ;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding: 15px;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 100px;
    object-fit: contain;
  }

  .mainHeader {
    font-size: 2rem;
    color: brown;
    display: flex;
    justify-items: end;
    padding: 20px 20px;
    border-bottom: brown solid 2px;
  }

  .aboutUsCard {
    padding-bottom: 20px;
    display: flex;
  }
  .imageContainer {
    flex:content;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    object-fit: contain;
    padding: 20px;

  }
  .dataContainer {
    flex: 3;
    object-fit: contain;
    text-align: left;
    padding: 20px;
    flex-direction: row;
    align-self:flex-start;
  }
