.parallax {
  /* The image used */
  background-image: url("../Image/dog.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
    height: auto;
    background-color: white;
    font-size: x-large;
    /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6) */
}

/* .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 80px;
  
    width: 100%;
    max-width: 80%;
  } */
