.home-wrapper {
  width: 100%;
}

.parallaxHomeBg {
  width: 100vw;
  /* background-image: url('./dog.jpg');
 top: 0;
 background-position: center ;
 background-repeat: no-repeat;
 background-size: cover; */
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.overflow {
  height: 100vh;
  width: 100vw;
}

/* .parallax-transparent{
 min-height: 100vh;
  background: transparent;
  
} */

.headerHome {
  height: 100%;
  display: flex;
  align-items: center;
  /* background: transparent; */
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.headerHome h1 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: white;
  font-style: italic;
  border-bottom: none;
}

.headerHome h2 {
  font-size: 4rem;
  font-family: "Dancing Script";
  color: white;
}

.contentOneHome {
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10px;
  background-color: white;
  font-size: x-large;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
}

.contentTwoHome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  background-color: white;
  font-size: x-large;
  padding: 0.5rem;
  align-items: center;
}

.certificatLogo {
  display: flex;
  flex-direction: row;
}

.certificatLogo img {
  margin: 0;
}

.exLinks a {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.exLinks ul {
  list-style-type: none;
}

@media only screen and (max-device-width: 768px) {
  .overflow {
    height: 50vh;
  }

  .certificatLogo {
    flex-direction: row;
  }

  .exLinks a {
    font-size: small;
    padding-bottom: 1rem;
  }

  .certificatLogo img {
    width: 100px;
  }

  .contentTwoHome {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: none;
    height: none;
    background-color: white;
    font-size: x-large;
    padding: 0;
    align-items: center;
  }

  .headerHome h1 {
    font-size: 1rem;
  }

  .headerHome h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallaxHomeBg {
    background-attachment: scroll;
  }
}
