.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding: 15px;
  width: 80%;
  /*   border-radius: 6px; */
  /*   justify-content: center; */
  /*   -webkit-box-shadow: 4px 2px 16px 0 rgba(50, 50, 50, 0.62);
  -moz-box-shadow: 4px 2px 16px 0 rgba(50, 50, 50, 0.62);
  box-shadow: 1px 2px 6px 0 rgba(50, 50, 50, 0.62); */
  object-fit: contain;
}
.newsCard {
  border-bottom: brown solid 2px;
  padding-bottom: 20px;
}
.mainHeader {
  font-size: 3rem;
  color: brown;
  display: flex;
  justify-items: end;
  padding: 20px 20px;
  border-bottom: brown solid 2px;
}

.content {
    display: flex;
    flex: 7;
/*     flex-direction: row; */
    align-items: center;
    /*   padding-right: 20px;
    padding-left: 20px; */
  }
.header {
  font-size: 1.5rem;
  color: brown;
  display: flex;
/*   justify-items: end; */
padding-bottom: 20px;
}

.imageContainer {
  flex: 3;
  text-align: right;
  background-size: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  object-fit: contain;
  padding: 20px;
}
.dataContainer {
  flex: 3;
  object-fit: contain;
  text-align: left;
  padding: 20px;
  flex-direction: column;
  align-self:flex-start;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.imgRight {
    float: right;
}
.imgLeft {
    float: left;
}

button {
  background-color: white; /* Green */
  border: 1px solid rgb(167, 69, 39);
  border-color: rgb(167, 69, 39);
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 20px;
}
button:hover {
  background-color: rgb(167, 69, 39);
  color: white;
  cursor: pointer;
}
button:focus {
  outline: 0;
}

.buttonRight {
  float: right;
  margin-top: 20px;
}
