.container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 80px;
  width: 50%;
  padding-top: 80px;
}
.dogCard{
    border-bottom: brown solid 4px;
    padding-bottom: 20px;
}

.header{
    font-size: 3rem;
    display: flex;
    justify-items: end;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

