body {
  font-family: 'Josefin Sans', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Josefin Sans', sans-serif;;
}

h1, h2, h3, h4{
  font-family: 'Dancing Script', cursive;
}

p{
  font-family: 'Josefin Sans', sans-serif;
}
@import "~react-image-gallery/styles/css/image-gallery.css";

